@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  margin-left: 20px;
}

.heading_prompt {
  font-family: "Lato", sans-serif;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 30px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  header {
    font-size: 40px;
  }
}
