.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

.heading_prompt {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
